.App
{
text-align:center;
}

body {
background-color:#E3AFBC;
color:black;
font-size:25px;
font-style:italic,bold;
font-family: serif;
}

header {
text-align:center;
background-color:#950740;
color:white;
font-size:40px;
height:100px;
width:1525px;
font-style:italic;
font-family: serif;
}

.TextField{
background-color: white;
}